.larger {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 600px;
    min-height: 600px;
    width: auto;
    height: auto;
    box-sizing: content-box;
    border: 100px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
}